.container {
	max-width: 1350px;
	margin: 0 auto;
}

@media screen and (max-width: 1375px) {
	.container {
		margin: 0 25px;
	}
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.header {
	position: relative;
}

.header__panel-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
}

.header__search {
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	width: 630px;
	height: 41px;
	padding: 7px 14px 10px 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__search input {
	outline: none;
	border: 0;
	width: 100%;
	padding-right: 14px;
	color: #82888e;
	font-size: 16px;
}

.header__search button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.header__bar {
	display: flex;
	align-items: center;
	gap: 24px;
}

.header__bar a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	color: #82888e;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.header__bar a span {
	transition: color 0.24s ease;
}

.header__bar a:hover span {
	color: #822a27;
}

.header__bar a svg path {
	transition: fill 0.24s ease;
}

.header__delivery svg path {
	transition: fill 0.24s ease;
}

.header__delivery:hover svg path {
	fill: #822a27;
}

.header__payment svg path {
	transition: fill 0.24s ease;
}

.header__payment:hover svg path {
	fill: #822a27;
}

.header__account svg g g path {
	transition: stroke 0.24s ease;
}

.header__account:hover svg g g path {
	stroke: #822a27;
}

.header__cartItem svg g g path {
	transition: stroke 0.24s ease;
}

.header__cartItem:hover svg g g path {
	stroke: #822a27;
}

.header__bar .header__cartItemFill {
	gap: 6px;
}

.header__cartItemFill span {
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	padding: 1px 7px;
	border-radius: 100px;
	background: #822a27;
}

a.header__cartItemFill:hover span {
	color: #fff;
}

.header__bar img {
	width: 25px;
	height: 25px;
}

.header__nav {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.header__catalogBtn {
	display: flex;
	align-items: center;
	gap: 5px;
	border: 2px solid #822a27;
	cursor: pointer;
	padding: 9px 14px;
	background-color: transparent;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	transition: background-color 0.24s ease, color 0.24s ease;
}

.header__catalogBtn:hover {
	background-color: #822a27;
}

.header__catalogBtn:hover span {
	transition: color 0.24s ease;
}

.header__catalogBtn:hover span {
	color: #fff;
}

.header__catalogBtn:hover svg path {
	transition: fill 0.24s ease;
}

.header__catalogBtn:hover svg path {
	fill: #fff;
}

.header__catalogBtn span {
	color: #822a27;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Inter", sans-serif;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

.header__menu li a {
	display: inline-block;
	color: #15161c;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px 0;
	margin-bottom: -1px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.24s ease, color 0.24s ease;
}

.header__menu li a:hover {
	color: #822a27;
	border-bottom: 2px solid #822a27;
}

.header__burgerOpen {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.header__logo-wrapper {
	display: flex;
	align-items: center;
	gap: 39px;
}

@media screen and (max-width: 1375px) {
	.header__search {
		width: 500px;
	}

	.header__bar {
		gap: 15px;
	}
}

@media screen and (max-width: 1200px) {
	.header__search {
		width: 300px;
	}

	.header__menu li a {
		font-size: 12px;
	}
}

@media screen and (min-width: 993px) {
	.header__burgerOpen {
		display: none;
	}

	.header__bar .header__search2 {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.header__nav {
		display: none;
	}

	.header__catalogBtn {
		display: none;
	}

	.header__logo {
		width: 134px;
	}

	.header__bar {
		gap: 18px;
	}

	.header__bar svg {
		width: 20px;
		height: 20px;
	}

	.header__bar a span {
		display: none;
	}

	.header__bar .header__payment {
		display: none;
	}

	.header__bar .header__delivery {
		display: none;
	}

	.header__search {
		display: none;
	}

	.header {
		border-bottom: 1px solid #e0e0e0;
	}
}

@media screen and (max-width: 360px) {
	.header__logo-wrapper {
		gap: 10px;
	}

	.header__bar {
		gap: 8px;
	}
}

.bannerMain {
	margin-top: 28px;
	margin-bottom: 86px;
}

.bannerMain__card {
	border-radius: 3px;
	background: linear-gradient(-90deg, #872527 0%, #15161c 100%);
	padding: 58px 70px 158px 70px;
	position: relative;
}

.bannerMain__card h2 {
	color: #fff;
	font-family: "Manrope", sans-serif;
	font-size: 55px;
	font-weight: 500;
	line-height: 110%;
	margin-bottom: 20px;
	max-width: 377px;
}

.bannerMain__card p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 145%;
	margin-bottom: 42px;
	max-width: 291px;
}

.bannerMain__card a {
	text-decoration: none;
	display: inline-block;
	padding: 18px 54px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	border-radius: 3px;
	border: 2px solid #822a27;
	transition: background-color 0.24s ease, color 0.24s ease;
}

.bannerMain__card a:hover {
	background-color: #822a27;
}

.bannerMain__img {
	width: 482px;
	position: absolute;
	top: 58px;
	bottom: 41px;
	right: 222px;
}

@media screen and (max-width: 1200px) {
	.bannerMain__img {
		right: 100px;
	}
}

@media screen and (max-width: 992px) {
	.bannerMain__card h2 {
		font-size: 38px;
	}

	.bannerMain__img {
		width: 350px;
		top: 100px;
		right: 60px;
	}
}

@media screen and (max-width: 768px) {
	.bannerMain__img {
		width: 300px;
		top: 230px;
		right: 30px;
	}

	.bannerMain__card {
		padding: 63px 25px 181px 25px;
	}
}

@media screen and (max-width: 576px) {
	.bannerMain__inner {
		margin-left: -25px;
		margin-right: -25px;
	}

	.bannerMain {
		margin-top: 0;
		margin-bottom: 40px;
	}

	.bannerMain__card {
		border-radius: 0;
	}

	.bannerMain__card h2 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.bannerMain__card p {
		margin-bottom: 30px;
		font-size: 14px;
	}

	.bannerMain__card a {
		padding: 15px 40px;
		border-radius: 0;
		font-size: 14px;
	}

	.bannerMain__img {
		top: auto;
		width: 213px;
		right: 25px;
		bottom: 16px;
	}
}

.goods__inner {
	padding-bottom: 86px;
}

.goods__panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 29px;
}

.goods__seemore-arrows {
	border-radius: 5px;
	background: #f2f2f2;
	padding: 14px 15px;
	display: flex;
	align-items: center;
	gap: 27px;
}

.goods__seemore-arrows button {
	cursor: pointer;
	border: 0;
}

.goods__seemore-arrows button svg path {
	transition: fill 0.24s ease;
}

.goods__seemore-arrows button:hover svg path {
	fill: #822a27;
}

.goods__seemore-arrows button img {
	width: 14px;
	height: 18px;
}

.goods__title {
	color: #15161c;
	font-family: "Manrope", sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}

.goods__seemore {
	display: flex;
	align-items: center;
	gap: 28px;
}

.goods__seemore a {
	color: #82888e;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
	text-decoration-line: underline;
	transition: color 0.24s ease;
}

.goods__seemore a:hover {
	color: #822a27;
}

.goods__card {
	display: flex;
	flex-direction: column;
	width: 323px;
	height: 525px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 11px 11px 19px 10px;
}

.goods__image {
	border-radius: 3px;
	height: 200px;
	margin-bottom: 15px;
}

.goods__content {
	margin-left: 8px;
	margin-right: 11px;
	height: 100%;
	position: relative;
}

.goods__reviews {
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 5px;
	margin-bottom: 8.5px;
}

.goods__stars {
	display: flex;
	align-items: center;
}

.goods__stars img {
	width: 15px;
	height: 15px;
}

.goods__stars-count {
	color: #828282;
	font-size: 13px;
	font-weight: 400;
	line-height: 120%;
}

.goods__info {
	height: 131px;
	margin-bottom: 15px;
}

.goods__card-title {
	color: #822a27;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 8px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.goods__brand {
	display: inline-block;
	color: #15161c;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 8px;
}

.goods__desc {
	color: #4f4e57;
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
}

.goods__bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.goods__price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 19px;
	align-items: end;
}

.goods__price-left {
	color: #15161c;
	font-size: 14px;
	font-weight: 600;
	line-height: 120%;
	display: flex;
	align-items: center;
	gap: 3px;
}

.goods__newPrice {
	font-size: 18px;
}

.goods__price-right {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 8px;
}

.goods__sale {
	padding: 3px;
	border-radius: 3px;
	background: #fee12b;
	text-align: right;
	color: #15161c;
	font-size: 11px;
	font-weight: 600;
	line-height: 120%;
}

.goods__oldPrice {
	color: #82888e;
	font-size: 13px;
	font-weight: 500;
	line-height: 120%;
	text-decoration-line: line-through;
}

.goods__btn {
	display: flex;
	justify-content: center;
	gap: 8px;
	align-items: center;
	width: 100%;
	border-radius: 3px;
	background-color: #822a27;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	border: 0;
	cursor: pointer;
	padding: 15px;
	transition: background-color 0.24s ease;
}

.goods__btn:hover {
	background-color: #551a18;
}

.goods__btn img {
	width: 18px;
	height: 18px;
}

.goods__quantity {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 3px;
	background: #f2f2f2;
	padding: 15px 24px;
}

.goods__quantity p {
	color: #15161c;
	font-size: 14px;
	font-weight: 400;
	line-height: 120%;
}

.goods__quantity button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

@media screen and (max-width: 1375px) {
	.goods__card {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.goods__seemore {
		display: none;
	}

	.goods__title {
		line-height: 110%;
		font-size: 24px;
	}

	.goods__panel {
		margin-bottom: 15px;
	}

	.goods__card {
		padding: 4px 4px 9px 4px;
		height: 365px;
	}

	.goods__image {
		border-radius: 2px;
		height: 103px;
		margin-bottom: 9px;
	}

	.goods__stars-count {
		font-size: 12px;
	}

	.goods__stars img {
		width: 12px;
		height: 12px;
	}

	.goods__content {
		margin-left: 5px;
		margin-right: 5px;
	}

	.goods__card-title {
		-webkit-line-clamp: 3;
		font-size: 13px;
		margin-bottom: 7px;
	}

	.goods__brand {
		font-size: 12px;
		margin-bottom: 7px;
	}

	.goods__info {
		height: 124px;
		margin-bottom: 9px;
	}

	.goods__desc {
		font-size: 12px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.goods__price-left {
		font-size: 13px;
	}

	.goods__newPrice {
		font-size: 16px;
	}

	.goods__reviews {
		margin-bottom: 1px;
	}

	.goods__inner {
		padding-bottom: 40px;
	}

	.goods__price {
		margin-bottom: 9.5px;
	}

	.goods__btn {
		padding: 11px;
	}
}

.bannerBottom {
	margin-bottom: 86px;
}

.bannerBottom__inner {
	background: url(<path-to-image>), lightgray 0px -402.284px / 100% 209.904% no-repeat;
	padding: 60px 65px 150px 65px;
	position: relative;
	overflow: hidden;
}

.bannerBottom__imgCar {
	width: 850px;
	position: absolute;
	right: 81px;
	bottom: 0px;
}

.bannerBottom__imgGirl {
	width: 349px;
	position: absolute;
	bottom: 0;
	right: 81px;
}

.bannerBottom__inner h2 {
	color: #822a27;
	font-family: "Manrope", sans-serif;
	font-size: 34px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 20px;
	max-width: 300px;
}

.bannerBottom__inner p {
	color: #15161c;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 33px;
	max-width: 410px;
}

.bannerBottom__inner a {
	display: inline-block;
	padding: 18px 54px;
	background-color: transparent;
	border-radius: 3px;
	border: 2px solid #822a27;
	color: #15161c;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	text-decoration: none;
	transition: background-color 0.24s ease, color 0.24s ease;
}

.bannerBottom__inner a:hover {
	background-color: #822a27;
	color: #fff;
}

@media screen and (max-width: 1375px) {
	.bannerBottom__imgCar {
		width: 700px;
	}

	.bannerBottom__imgGirl {
		width: 285px;
	}
}

@media screen and (max-width: 1200px) {
	.bannerBottom__imgCar {
		width: 600px;
	}

	.bannerBottom__imgGirl {
		width: 245px;
	}
}

@media screen and (max-width: 992px) {
	.bannerBottom__inner h2 {
		max-width: 100%;
		font-size: 24px;
		line-height: 110%;
		margin-bottom: 10px;
	}

	.bannerBottom__inner p {
		font-size: 14px;
		max-width: 340px;
	}

	.bannerBottom__inner a {
		border-radius: 0;
		padding: 15px 40px;
		font-size: 14px;
	}

	.bannerBottom__inner {
		margin-left: -25px;
		margin-right: -25px;
		padding: 34px 25px 260px 25px;
	}
}

@media screen and (max-width: 768px) {
	.bannerBottom__imgCar {
		width: 455px;
	}

	.bannerBottom__imgGirl {
		width: 204px;
	}
}

@media screen and (max-width: 576px) {
	.bannerBottom__imgCar {
		right: -83px;
		bottom: 28px;
	}

	.bannerBottom__imgGirl {
		right: 65px;
	}

	.bannerBottom {
		margin-bottom: 15px;
	}
}

.footer__content {
	padding: 30px 0 27px 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-between;
}

.footer__nav {
	display: flex;
	gap: 150px;
}

.footer__nav-item h5 {
	color: #822a27;
	font-size: 15px;
	font-weight: 600;
	line-height: 140%;
	margin-bottom: 12px;
}

.footer__nav-item ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__nav-item ul li a {
	color: #4f4e57;
	font-size: 15px;
	font-weight: 400;
	line-height: 140%;
	text-decoration: none;
	transition: color 0.24s ease;
}

.footer__nav-item ul li a:hover {
	color: #822a27;
}

.footer__info {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.footer__phone {
	color: #822a27;
	font-size: 18px;
	font-weight: 600;
	line-height: 140%;
	margin-bottom: 7px;
	text-decoration: none;
}

.footer__loc {
	color: #4f4e57;
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 28px;
}

.footer__btn {
	display: inline-block;
	background-color: transparent;
	padding: 18px 54px;
	border-radius: 3px;
	border: 2px solid #822a27;
	color: #15161c;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	text-decoration: none;
	margin-bottom: 28px;
	transition: background-color 0.24s ease, color 0.24s ease;
}

.footer__btn:hover {
	background-color: #822a27;
	color: #fff;
}

.footer__links {
	display: flex;
	align-items: center;
	gap: 15px;
}

.footer__links a {
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image 0.24s ease;
}

.footer__vk {
	background-image: url("images/vk.svg");
}

.footer__vk:hover {
	background-image: url("images/vk-active.svg");
}

.footer__whatsapp {
	background-image: url("images/whatsapp.svg");
}

.footer__whatsapp:hover {
	background-image: url("images/whatsapp-active.svg");
}

.footer__telegram {
	background-image: url("images/telegram.svg");
}

.footer__telegram:hover {
	background-image: url("images/telegram-active.svg");
}

.footer__panel {
	padding: 22px 0;
}

.footer__panel ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 35px;
	color: #82888e;
	font-size: 13px;
	font-weight: 400;
	line-height: 140%;
}

.footer__panel ul li a {
	text-decoration: none;
	color: #82888e;
	transition: color 0.24s ease;
}

.footer__panel ul li a:hover {
	color: #822a27;
}

@media screen and (max-width: 1200px) {
	.footer__nav {
		gap: 70px;
	}
}

@media screen and (max-width: 1200px) {
	.footer__nav {
		gap: 50px;
	}
}

@media screen and (max-width: 992px) {
	.footer__content {
		flex-direction: column-reverse;
		align-items: center;
	}

	.footer__content {
		gap: 30px;
	}

	.footer__info {
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	.footer__nav-arrow {
		display: none;
	}
}

@media screen and (max-width: 769px) {
	.footer__mapsite {
		display: none;
	}

	.footer__content {
		padding: 21px 0 0 0;
		border-bottom: 0;
		border-top: 0;
	}

	.footer {
		border-top: 1px solid #e0e0e0;
	}

	.footer__loc {
		color: #15161c;
		margin-bottom: 25px;
	}

	.footer__btn {
		padding: 15px 40px;
		border-radius: 0;
		font-size: 14px;
		margin-bottom: 30px;
	}

	.footer__content {
		gap: 0;
	}

	.footer__nav {
		border-top: 1px solid #e0e0e0;
		padding-top: 18px;
		padding-bottom: 21px;
		flex-direction: column;
		gap: 18px;
	}

	.footer__content {
		align-items: normal;
	}

	.footer__nav-item {
		padding-bottom: 16px;
		border-bottom: 1px solid #e0e0e0;
	}

	.footer__nav-item h5 {
		font-size: 14px;
		margin-bottom: 0;
		pointer-events: none;
	}

	.footer__nav-item ul {
		transition: max-height 0.24s ease;
		max-height: 0px;
		overflow: hidden;
	}

	.footer__nav-item ul li:first-child {
		margin-top: 12px;
	}

	.footer__nav-item ul li a {
		color: #15161c;
		font-size: 14px;
	}

	.footer__panel ul {
		font-size: 11px;
		gap: 25px;
	}

	.footer__nav-toggle {
		display: flex;
		justify-content: space-between;
	}

	.footer__nav-arrow {
		width: 15px;
		pointer-events: none;
		transition: transform 0.24s ease;
	}

	.footer__nav-arrow-active {
		transform: rotate(180deg);
	}

	.footer__nav-item .footer__nav-listOpen {
		max-height: 200px;
	}

	.footer__links {
		justify-content: center;
	}
}

/* Баннер на главной */

.mainSwiper2 {
	height: 80%;
	width: 100%;
}

.mainSwiper {
	height: 20%;
	box-sizing: border-box;
	padding-top: 28px;
}

.mainSwiper .swiper-slide {
	height: 100%;
	position: relative;
}

.mainSwiper .bannerMain__card {
	padding: 10px 10px 20px 10px;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}

.mainSwiper .bannerMain__card h2 {
	font-size: 8px;
	max-width: 60px;
	margin-bottom: 5px;
}

.mainSwiper .bannerMain__card p {
	font-size: 4px;
	max-width: 60px;
	margin-bottom: 0px;
}

.mainSwiper .bannerMain__card a {
	font-size: 3px;
	padding: 2px 4px;
	border: 1px solid #822a27;
}

.mainSwiper .bannerMain__card .bannerMain__img {
	width: 74px;
	top: auto;
	right: 30px;
	bottom: 10px;
}

.mainSwiper .swiper-slide-thumb-active .bannerMain__card-outer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(130, 42, 39, 0.5);
	border-radius: 3px;
}

.mainSwiper .swiper-slide-thumb-active .bannerMain__card-outer .bannerMain__card-scroll {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 4px;
	border-radius: 0px 0px 0px 3px;
	background: rgba(255, 255, 255, 0.8);
	animation: scroll 5s linear;
}

.mainSwiper2 .swiper-main-next {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: linear-gradient(270deg, #15161c 0%, rgba(21, 22, 28, 0) 100%);
	opacity: 0;
	transition: opacity 0.24s ease;
}

.mainSwiper2 .swiper-main-prev {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: linear-gradient(90deg, #15161c 0%, rgba(21, 22, 28, 0) 100%);
	opacity: 0;
	transition: opacity 0.24s ease;
}

.mainSwiper2 .swiper-main-next:hover {
	opacity: 1;
}

.mainSwiper2 .swiper-main-prev:hover {
	opacity: 1;
}

.mainSwiper2 .swiper-main-prev img {
	width: 20px;
	height: 25px;
	margin-right: 30px;
}

.mainSwiper2 .swiper-main-next img {
	width: 20px;
	height: 25px;
	margin-left: 30px;
}

@keyframes scroll {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.mainSwiper {
		display: none;
	}

	.mainSwiper2 .swiper-main-next {
		display: none;
	}

	.mainSwiper2 .swiper-main-prev {
		display: none;
	}
}

/* Баннер на детальной */

.detailSwiper {
	box-sizing: border-box;
	width: 95px;
	margin-top: 20px;
}

.detailSwiper .swiper-slide {
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	max-height: 65px;
}

.detailSwiper .swiper-slide img {
	border-radius: 3px;
	border: 2px solid transparent;
}

.detailSwiper .swiper-slide-thumb-active img {
	border-radius: 3px;
	border: 2px solid #822a27;
}

.detailSwiper__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.detailSwiper2 .swiper-slide img {
	border-radius: 3px;
}

.swiper-detail-next,
.swiper-detail-prev {
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 12.5px 0;
	align-items: center;
	border-radius: 3px;
	background: #f2f2f2;
	width: 100%;
}

.swiper-detail-next svg path,
.swiper-detail-prev svg path {
	transition: fill 0.25s ease;
}

.swiper-detail-next:hover svg path,
.swiper-detail-prev:hover svg path {
	fill: #822a27;
}

/* Деталка */

.breadcrumbs__inner {
	padding-top: 25px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	gap: 10px;
	list-style: none;
}

.breadcrumbs__inner li {
	color: #82888e;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
}

.breadcrumbs__inner li a {
	color: #82888e;
	text-decoration: none;
	transition: color 0.24 ease;
}

.breadcrumbs__inner li a:hover {
	color: #822a27;
}

.breadcrumbs__inner li:first-child::before {
	display: none;
}

.breadcrumbs__inner li::before {
	content: "/";
	padding-right: 10px;
}

/* Детальная */

.detailMain__top {
	display: flex;
	gap: 70px;
	justify-content: space-between;
	margin-bottom: 36px;
}

.detailMain__left {
	max-width: 640px;
	flex-grow: 1;
}

.detailMain__left-wrapper {
	max-height: 340px;
	display: flex;
	flex-direction: row-reverse;
	gap: 35px;
}

.detailMain__right {
	max-width: 640px;
	flex-grow: 1;
}

.detailMain__content {
	margin-bottom: 18px;
}

.detailMain__content h1 {
	margin-bottom: 10px;
	color: #822a27;
	font-family: "Manrope", sans-serif;
	font-size: 26px;
	font-weight: 600;
	line-height: 120%;
}

.detailMain__content p {
	color: #15161c;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 10px;
}

.detailMain__reviews {
	display: flex;
	align-items: center;
	gap: 5px;
}

.detailMain__reviews-stars {
	display: flex;
	align-items: center;
	gap: 1px;
}

.detailMain__reviews-stars img {
	width: 17px;
	height: 17px;
}

.detailMain__reviews-count {
	color: #828282;
	font-size: 14px;
	font-weight: 400;
	line-height: 120%;
}

.detailMain__buy {
	border-radius: 3px;
	background-color: #f2f2f2;
	padding: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	gap: 15px;
}

.detailMain__buy-btn {
	border-radius: 3px;
	background-color: #822a27;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border: 0;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	width: 285px;
	transition: background-color 0.24s ease;
}

.detailMain__buy-btn:hover {
	background-color: #551a18;
}

.detailMain__buy-btn img {
	width: 18px;
	height: 18px;
}

.detailMain__buy-oldPirce {
	color: #82888e;
	font-size: 13px;
	font-weight: 500;
	line-height: 120%;
	text-decoration-line: line-through;
}

.detailMain__buy-old {
	display: flex;
	align-items: baseline;
	gap: 9px;
}

.detailMain__buy-sale {
	padding: 3px;
	color: #15161c;
	font-size: 11px;
	font-weight: 600;
	line-height: 120%;
	border-radius: 3px;
	background: #fee12b;
}

.detailMain__buy-price {
	color: #15161c;
	font-size: 18px;
	font-weight: 400;
	line-height: 145%;
}

.detailMain__buy-price span {
	font-size: 26px;
	font-weight: 600;
}

.detailMain__buy-left {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.detailMain__buy-note {
	color: #82888e;
	font-size: 12px;
	font-weight: 400;
	line-height: 130%;
	margin-bottom: 25px;
}

.detailMain__delivery {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.detailMain__delivery h5 {
	color: #15161c;
	font-size: 16px;
	font-weight: 500;
	line-height: 145%;
}

.detailMain__delivery div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.detailMain__delivery img {
	width: 20px;
	height: 20px;
}

.detailMain__delivery p {
	color: #4f4e57;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
}

.detailMain__desc {
	display: flex;
	justify-content: space-between;
	gap: 70px;
	margin-bottom: 32px;
}

.detailMain__desc-left {
	flex-grow: 1;
	max-width: 640px;
}

.detailMain__desc-right {
	max-width: 640px;
	flex-grow: 1;
}

.detailMain__desc-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	cursor: pointer;
}

.detailMain__desc-panel h5 {
	color: #15161c;
	font-size: 16px;
	font-weight: 500;
	line-height: 145%;
	pointer-events: none;
}

.detailMain__desc-panel detailMain__desc-toggle svg path {
	transition: fill 0.24s ease;
}

.detailMain__desc-panel:hover .detailMain__desc-toggle svg path {
	fill: #822a27;
}

.detailMain__desc-toggle {
	width: 18px;
	cursor: pointer;
	pointer-events: none;
	transition: transform 0.24s ease;
}

.detailMain__desc-toggle-active {
	transform: rotate(180deg);
}

.detailMain__desc-content {
	color: #4f4e57;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
	max-height: 61px;
	overflow: hidden;
	transition: max-height 0.24s ease;
}

.detailMain__desc-content-active {
	max-height: 1000px;
}

.detailMain__addition {
	margin-bottom: 86px;
}

.detailMain__addition-tabs {
	display: flex;
	gap: 36px;
	margin-bottom: 33px;
}

.detailMain__addition-tablink {
	color: #15161c;
	font-size: 15px;
	font-weight: 600;
	line-height: 145%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: color 0.24s ease;
	border-bottom: 2px solid transparent;
}

.detailMain__addition-tablink:hover {
	color: #822a27;
}

.detailMain__addition-tablinkActive {
	border-bottom: 2px solid #822a27;
	color: #822a27;
}

.detailMain__addition-tabcontent {
	display: none;
	gap: 70px;
	justify-content: space-between;
}

.detailMain__addition-tabcontentActive {
	display: flex;
}

.detailMain__addition-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	margin-bottom: 15px;
}

.detailMain__addition-panel .detailMain__addition-img svg path {
	transition: fill 0.24s ease;
}

.detailMain__addition-panel:hover .detailMain__addition-img svg path {
	fill: #822a27;
}

.detailMain__addition-left {
	max-width: 640px;
	flex-grow: 1;
}

.detailMain__addition-right {
	max-width: 640px;
	flex-grow: 1;
}

.detailMain__addition-panel h5 {
	color: #15161c;
	font-size: 16px;
	font-weight: 500;
	line-height: 145%;
	pointer-events: none;
}

.detailMain__addition-img {
	pointer-events: none;
	transition: transform 0.24s ease;
}

.detailMain__addition-imgActive {
	transform: rotate(180deg);
}

.detailMain__addition-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow: hidden;
	max-height: 91px;
	transition: max-height 0.24s ease;
}

.detailMain__addition-listActive {
	max-height: 1000px;
}

.detailMain__addition-list li {
	color: #15161c;
	font-size: 14px;
	font-weight: 400;
	line-height: 145%;
}

.detailMain__addition-list li span {
	color: #4f4e57;
}

@media screen and (max-width: 1375px) {
	.detailMain__top {
		gap: 30px;
	}

	.detailMain__desc {
		gap: 30px;
	}

	.detailMain__desc-right {
		max-width: 500px;
	}

	.detailMain__desc-left {
		max-width: 500px;
	}
}

@media screen and (max-width: 1200px) {
	.detailMain__buy-btn {
		width: 200px;
	}

	.detailMain__left {
		gap: 15px;
	}
}

@media screen and (max-width: 1100px) {
	.detailMain__top {
		flex-direction: column;
	}

	.detailMain__left {
		max-width: 100%;
	}

	.detailMain__right {
		max-width: 100%;
	}

	.detailMain__left-wrapper {
		max-height: 100%;
	}

	.detailMain__desc-right {
		max-width: 400px;
	}

	.detailMain__desc-left {
		max-width: 400px;
	}

	.detailMain__addition-tabs {
		gap: 15px;
		width: 100%;
		overflow: scroll;
		margin-bottom: 15px;
	}

	.detailMain__addition-tabs::-webkit-scrollbar {
		width: 0;
	}

	.detailMain__addition-tablink {
		white-space: nowrap;
	}
}

@media screen and (max-width: 992px) {
	.detailMain__addition-tabcontentActive {
		flex-direction: column;
		gap: 30px;
	}

	.detailMain__addition-left {
		max-width: 100%;
	}

	.detailMain__addition-right {
		max-width: 100%;
	}

	.detailMain__desc {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.detailMain__desc-right {
		max-width: 100%;
	}

	.detailMain__desc-left {
		max-width: 100%;
	}

	.detailMain__addition-list {
		gap: 10px;
	}

	.detailMain__addition {
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 769px) {
	.swiper-pagination-detail {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.detailSwiper__wrapper {
		display: none;
	}

	.detailMain__content h1 {
		line-height: 110%;
		font-size: 22px;
	}

	.detailMain__content p {
		font-size: 14px;
	}

	.detailMain__reviews-stars img {
		width: 14px;
		height: 14px;
	}

	.detailMain__left-wrapper {
		display: block;
		padding-bottom: 0;
	}

	.swiper-pagination-wrapper {
		margin-top: 5px;
		display: flex;
		justify-content: center;
	}

	.detailSwiper2 .swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		width: auto !important;
	}

	.swiper-pagination-detail .swiper-pagination-bullet {
		background-color: #d9d9d9;
		opacity: 1;
		width: 7px;
		height: 7px;
	}

	.swiper-pagination-detail .swiper-pagination-bullet-active {
		background-color: #822a27;
	}

	.detailMain__addition-tablink {
		font-size: 13px;
	}
}

@media screen and (max-width: 576px) {
	.breadcrumbs__inner {
		gap: 5px;
	}

	.breadcrumbs__inner li::before {
		padding-right: 5px;
	}

	.breadcrumbs__inner li {
		font-size: 13px;
	}

	.breadcrumbs__inner {
		padding-top: 15px;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 450px) {
	.detailMain__buy {
		flex-direction: column;
		padding: 15px 20px;
		align-items: baseline;
	}

	.detailMain__buy-left {
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 100%;
		align-items: end;
	}

	.detailMain__buy-old {
		flex-direction: column-reverse;
		align-items: end;
	}

	.detailMain__buy-right {
		width: 100%;
	}

	.detailMain__buy-price span {
		font-size: 20px;
	}

	.detailMain__buy-btn {
		width: 100%;
	}

	.detailMain__buy-price {
		font-size: 14px;
	}
}

/* Топ меню */

.header__submenu {
	margin-top: 1px;
	position: absolute;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 10;
	display: block;
	transition: max-height 1.5s ease;
	max-height: 0;
	overflow: hidden;
}

.header__submenu-inner {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 930px;
}

.header__submenu-item h5 {
	color: #822a27;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.78px;
	text-transform: uppercase;
	padding-bottom: 6px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
}

.header__submenu-links {
	display: flex;
	gap: 50px;
}

.header__submenu-links ul {
	width: 250px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.header__submenu-links ul li a {
	color: #4f4e57;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin-bottom: 0;
	text-transform: none;
	border-bottom: 0;
}

.header__submenu-links ul li a:hover {
	border-bottom: 0;
	color: #822a27;
}

.header__menu > li:hover .header__submenu {
	max-height: 1500px;
}

.header__menu > li:hover > a {
	border-bottom: 2px solid #822a27;
}
